<header id="mainHeader">
  <h1 id="logo">{{ title }}</h1>
  <a href="/login" id="loginButton">Login</a>
</header>
<section id="intro">
  <h2 class="hidden">Introduction</h2>
  <p id="firsttext">Welcome to Flashback your online home for all things television, movies and music.</p>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <br>
  <div class="mainDesc">
    <h3>Movies</h3>
    <p>Check out our wide variety of on demand movies for you and the whole family to enjoy anywhere anytime. Check out our wide variety of on demand movies for you and the whole family to enjoy anywhere anytime.</p>
    <a href="#" class="descButton">View</a>
  </div>
  <div class="mainDesc">
    <h3>Television</h3>
    <p>Check out our wide variety of on demand television shows for you and the whole family to enjoy anywhere anytime. Check out our wide variety of on demand television shows for you and the whole family to enjoy anywhere anytime.</p>
    <a href="#" class="descButton">View</a>
  </div>
  <div class="mainDesc">
    <h3>Music</h3>
    <p>Check out our wide variety of on demand music for you and the whole family to enjoy anywhere anytime. Check out our wide variety of on demand music for you and the whole family to enjoy anywhere anytime.</p>
    <a href="#" class="descButton">View</a>
  </div>
</section>
<div id="container">
  <section id="users">
    <h2 class="hidden">Users</h2>
    <div class="parentUsers">
      <h2>Parents</h2>
      <div class="userIcon"><p>Name</p></div>
      <div class="userIcon"><p>Name</p></div>
      <div class="userIcon"><p>Name</p></div>
    </div>
    <div class="kidUsers">
      <h2>Kids!</h2>
      <div class="userIconKids"><p>Name</p></div>
      <div class="userIconKids"><p>Name</p></div>
      <div class="userIconKids"><p>Name</p></div>
    </div>
  </section>
  <section id="services">
    <h2>Services</h2>
    <p>Flashback provides the number one web based streaming services for all things movies, television and music. We offer content for people of all ages and interests. Built in parental controls let you monitor what your loved ones are watching and decide what content they can and cannot see. This parental control tool is like none other and a must for any partent in the 21st century.</p>
  </section>
  <section id="eras">
    <div class="era">50s</div>
    <div class="era">60s</div>
    <div class="era">70s</div>
    <div class="era">80s</div>
    <div class="era">90s</div>
  </section>
</div>
<footer>
  <h1 id="footerlogo">{{ title }}</h1>
  <p>All copyrights reserved 2018</p>
</footer>
