<header id="mainHeader">
  <h1 id="logo">{{ title }}</h1>
  <a href="/login" id="loginButton">Login</a>
</header>
<section id="intro">
  <h2 class="hidden">Introduction</h2>
  <p id="firsttext">Welcome to Fran's Greatest Hits your online home for all things television, movies and music.</p>
  <div class="circle"><img class="mainIcon" src="images/icon-movie.png" alt="movies"></div>
  <div class="circle"><img class="mainIcon" src="images/icon-tv.png" alt="tv"></div>
  <div class="circle" id="lastCircle"><img class="mainIcon" src="images/icon-music.png" alt="music"></div>
  <br>
  <div class="mainDesc">
    <h3>Movies</h3>
    <p>Check out our wide variety of on demand movies for you and the whole family to enjoy anywhere anytime. Check out our wide variety of on demand movies for you and the whole family to enjoy anywhere anytime.</p>
    <a href="#" class="descButton">View</a>
  </div>
  <div class="mainDesc">
    <h3>Television</h3>
    <p>Check out our wide variety of on demand television shows for you and the whole family to enjoy anywhere anytime. Check out our wide variety of on demand television shows for you and the whole family to enjoy anywhere anytime.</p>
    <a href="#" class="descButton">View</a>
  </div>
  <div class="mainDesc">
    <h3>Music</h3>
    <p>Check out our wide variety of on demand music for you and the whole family to enjoy anywhere anytime. Check out our wide variety of on demand music for you and the whole family to enjoy anywhere anytime.</p>
    <a href="#" class="descButton">View</a>
  </div>
</section>
<div id="container">
  <section id="users">
    <h2 class="hidden">Users</h2>
    <div class="parentUsers">
      <h2>Parents</h2>
      <a href="/parents" class="userIcon">
        <img src="images/icon-user.png" alt="User">
        <p>Bryian</p>
      </a>
      <a href="/parents" class="userIcon">
        <img src="images/icon-user.png" alt="User">
        <p>Anna</p>
      </a>
      <a href="/parents" class="userIcon">
        <img src="images/icon-user.png" alt="User">
        <p>Stephen</p>
      </a>
    </div>
    <div class="kidUsers">
      <h2>Kids!</h2>
      <a class="userIconKids" href="/kids">
        <img src="images/icon-user.png" alt="User">
        <p>Ryan</p>
      </a>
      <a class="userIconKids" href="/kids">
        <img src="images/icon-user.png" alt="User">
        <p>Molly</p>
      </a>
      <a class="userIconKids" href="/kids">
        <img src="images/icon-user.png" alt="User">
        <p>Billy</p>
      </a>
    </div>
  </section>
  <section id="services">
    <h2>Services</h2>
    <p>Fran's greatest Hits provides the number one web based streaming services for all things movies, television and music. We offer content for people of all ages and interests. Built in parental controls let you monitor what your loved ones are watching and decide what content they can and cannot see. This parental control tool is like none other and a must for any partent in the 21st century.</p>
  </section>
  <section id="eras">
    <div class="era"><img src="images/50s.jpg" alt="50s"></div>
    <div class="era"><img src="images/60s.jpg" alt="60s"></div>
    <div class="era"><img src="images/70s.jpg" alt="70s"></div>
    <div class="era"><img src="images/80s.jpg" alt="80s"></div>
    <div class="era"><img src="images/90s.jpg" alt="90s"></div>
  </section>
</div>
<footer>
  <h1 id="footerlogo">{{ title }}</h1>
  <p>All copyrights reserved 2018</p>
</footer>
