<header id="mainHeader">
  <h1 id="logo">{{ title }}</h1>
  <a href="../" id="homeButton">Home</a>
</header>
<div class="container">
  <a href="/parents"><p id="parentLogin">Parents</p></a>
  <a href="/kids"><p id="kidLogin">Kids</p></a>
</div>
