body {
  background-color : #E6F0FF;
  color: white;
}
.hidden{
  display: none;
}
#kidsContainer{
  max-width: 1200px;
  margin: 0 auto;
}
#Intro{
  font-size: 2em;
  color: #9664D1;
}
.kidsIntro2{
  font-size: 1.8em;
  color:#E57420;
}
#kidsFilter{
  margin: 30px 0px;
  text-align: center;
}
#clearF{
  color: #553285;
}
#clearF:hover{
  color: #9664D1;
}
.filterOption{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: inline-block;
  margin-left: 60px;
}
.filterOption:first-of-type{
  margin-left: 0;
}
.filterOption p {
  margin-top: 60px;
  font-size: 1.3em;
}
#filter1{
  background-color: #f26522;
}
#filter2{
  background-color: #229cf2;
}
#filter3{
  background-color: #f2e122;
}
#filter4{
  background-color: #22f249;
}
.movieFilter, .tvFilter, .musicFilter{
  text-align: center;
  margin-bottom: 50px;
}
.secF{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;
  margin-left: 40px;
}
.filterOption:hover, .secF:hover{
  color: black;
}
.secF:first-of-type{
  margin-left: 0;
}
.secF p{
  margin-top: 40px;
}
#adventure, #cartoon, #country{
  background-color: #ed1c24;
}
#comedy, #funny, #dance{
  background-color: #FFC702;
}
#educational, #history, #disney{
  background-color: #461aa1;
}
#serious, #education, #rock{
  background-color: #FF44FF;
}
#sports, #pop{
  background-color: #00a651;
}

#kidsTv, #kidsMusic, #kidsMovies{
  color: black;
}
#kidsTv h2, #kidsMusic h2, #kidsMovies h2{
  border-bottom: 2px solid black;
}

.movieThumb{
  display: inline-block;
  margin: 20px 10px;
  color: black;
  width: 20%;
}
.movieThumb img{
  width: 80%;
}
.movieThumb h3{
  font-size: 1.3em;
  margin-bottom: 0;
}
.movieThumb h3:hover{
  color: #553285;
}
.musicThumb{
  display: inline-block;
  margin: 20px 0px;
  color: black;
  width: 15%;
}
.musicThumb img{
  width: 80%;
}
.musicThumb p{
  margin-top: 6px;
}
.audio{
  width: 80%;
}
